@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: rgb(189, 184, 253);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.calculadora {
  display: grid;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: 160px repeat(5, 55px);
  background-color: #201f1f;
  padding: 5px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.842); 
}

.display {
  grid-column: 1 / -1;
  padding: 16px;
  display: flex;
  margin: 10px 10px 20px;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  justify-content: space-between;
  word-break: break-all;
}

button {
  background-color: #363636;
  color: white;
  border-radius: 10%;
  border: hidden;
  margin: 1px;
  font-size: 1.1em;
}

button:hover {
  background-color: #313131;
}

.col-2 {
  grid-column: span 2;
}

.equal {
  background-color: rgb(189, 184, 253);
  color: black;
}

.equal:hover {
  background-color: rgb(156, 152, 206);

}

#valorAnterior {
  color: rgb(219, 219, 219);
}
#valorActual {
  font-size: 2em;
  font-weight: 600;
}
